<h1>Welcome to FirstThyme Shopping!</h1>

<h2>Sign up below: </h2>
<div class="signup-form">
    <form id = "signup">
        <label for="firstname" >First Name</label>
        <input id = "firstName" type = "text" minlength="8" required>

        <label for="lastname" >Last Name</label>
        <input id = "lastName" type = "text" minlength="8" required>

        <label for="email" >Email</label>
        <input id = "email" type = "text" minlength="8" required>
    
        <label for = "password">Password</label>
        <input name = "password" type="password" id="password" required>
    
        <input type = "submit" value = "signup"/>
    </form>

</div>

