
<div class="card-container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr [ngClass] = 'items'> -->
          <tr *ngFor="let items of items">
          <td><span>{{items.itemName}}</span></td>
          <td><span>{{items.price}}</span></td>
          <td><span>{{items.description}}</span></td>
          <td><span>{{items.category}}</span></td>
          <td><span>{{items.quantity}}</span></td>
          <td><button >Add Item</button></td>
        </tr>
        </tbody>
      </table>

      <div id="id02" class="modal">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
         <form id = "createItem" class="modal-content" action="/action_page.php" (ngSubmit)="onSubmit()">
           <div class="container">
             <h1>create item</h1>
             <p>Please fill in this form to create an item.</p>
             <hr>
             <label id = "itemName" for="itemname"><b>Item Name</b></label> 
             <input type="text" placeholder="Enter Item Name" name="itemname" required [(ngModel)]="itemName"> <br>
       
             <label id = "price" for="price"><b>Price</b></label> 
             <input type="text" placeholder="Enter Price" name="price" required [(ngModel)]="price" > <br> <br>
       
             <label for="description"><b>Description</b></label> 
             <input type="text" placeholder="Enter Description" name="Description" required [(ngModel)]="description"> <br>
       
             <label for="category"><b>Category</b></label> 
             <input type="text" placeholder="Enter category" name="category" required [(ngModel)]="category"> <br>
       
             <label for="quantity"><b>Quantity</b></label> 
             <input type="text" placeholder="Enter quantity" name="quantity" required [(ngModel)]="quantity"> <br>
       
             <div class="clearfix">
               <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
               <button type="submit" class="signupbtn" value = "Signup">Update Inventory</button>
             </div>
           </div>

         </form>
       
       </div>

</div>
<!-- (click) = "additem()" -->