/* You can add global styles to this file, and also import other style files

  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  } */
  body, html{
    margin: 0;
} 

  :root{
    --primary-color:rgb(235, 235, 235);
    --secondary-color: rgb(220, 226, 170);
    --third-color:  rgb(142, 208, 129);
    --fourth-color: rgb(19, 42, 19);
    --fifth-color: rgb(86, 95, 68);
    --sixth-color: rgb(169, 139, 4);
    }
   @font-face {
       font-family: 'Oswald', sans-serif;
       src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
   }
