<!-- <nav-bar></nav-bar> -->
<div class="card-container">
    <div class="card">
        <h2 class = "card-title">Profile Card</h2>
        <h1 class = "user">Insert Customer</h1>
        <hr>
        <p class="email">Insert email</p>
        <p class = "username">insert username</p>
        <p><button (click) = "toogleTag()" >Update Profile</button></p>
    </div>
</div>

<div *ngIf = "show" class="card-container">
    <div class="update-card">
        <h2 class = "card-title">Profile Card</h2>
        <form id = "update-form" class = "update-form" (ngSubmit)="onSubmit()">
            <h3>Update respective field</h3>
            <hr>
            <!-- Add first and last name options? -->
            <label for="oldUsername"> Current Username</label>
            <input name = "oldUsername" id = "oldUsername" type = "text"  maxlength="50" required [(ngModel)] = "oldUsername">

            <label for="newUsername">New Username</label>
            <input name = "newUsername" id = "newUsername" type = "text"  maxlength="50" required [(ngModel)] = "username">

            <label for="newEmail">Email</label>
            <input name = "newEmail" id = "newEmail" type = "text"  maxlength="50" required [(ngModel)] = "email">

            <label for="newPassword">Password</label>
            <input name = "newPassword" id = "newPassword" type = "password"  maxlength="50" required [(ngModel)] = "password" >
            
            <label for="newPasswordConfirm">Retype Password</label>
            <input name = "newPasswordConfirm" id = "newPasswordConfirm" type = "password"  maxlength="50" required [(ngModel)] = "password">
            <p><button class = "update-btn">Update Profile</button></p>
        </form>
    </div>
</div>

<!--  (click) = "update()"  -->