.card-container{
  /* margin: 10px 20px; */
  margin: 0;
  display: flexbox;
  justify-content: space-between;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
  }
 .card-title{
  text-align: center;
  margin: 10px 0 11px 0;
  padding: 10px;
  background-color: var(--fourth-color);
  color: var(--primary-color);
 }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--sixth-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  label{
      margin: 10px 0px 10px 0px;
      display: inline-block; 
      
  }

  .update-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  .update-form{
    margin: 10px 75px;
    width: 49%;
    padding: 16px 2px;
  }

  .update-btn{
    width: 100%;
    display: inline-block;
  }

  hr{
    border: 0.5px solid var(--fourth-color);
    margin-bottom: 15px;
  }