<h1>Welcome to FirstThyme Shopping!</h1>
<div class="container">
  <div class="login-form">
    <form id = "login" (ngSubmit)="onSubmit()">
        <label for="username" >Username</label>
        <input name = "username" id = "username" type = "text"  maxlength="50" required [(ngModel)]="username">
        
        <label for = "password">Password</label>
        <input id="password" name = "password" type="password"  minlength="8" required  [(ngModel)]="password"> 
    
        <input id = "login-btn" type = "submit" value = "Login"/>
    </form>
    </div>
   
</div>
<!--<img ng-src = "{s3://jonathan-java-uta-bucket/png-clipart-lemon-thyme-tea-herb-breckland-thyme-timo-food-oil.png}{png-clipart-lemon-thyme-tea-herb-breckland-thyme-timo-food-oil.png}"width="200px" height="200px"/>-->
<br>
<signup-page></signup-page> 


 
  

